
.tabs-arch{
    display: flex;
    margin-left: 10px;
}

.row-arch{
    margin-left: 10px;
}

.row-arch-grade{
    margin-left: 10px;
}

.prof-subbed{
    color: green;
}

.status-arch{
    display: flex;
}


.status-arch-col-1{
    flex:50;
}


.status-arch-col-2{
    display: flex;
    flex:50%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}