/* Login.css */
.row-intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 30px;
}
.text{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.container{
  display: flex;
  justify-content: center;
}

.container-login {
    width: 450px;
    height: 450px;
    
    background: white;
    padding-bottom: 15px;
    filter: drop-shadow(2px 2px 2px gray);
    border-radius: 5px;
  }
  
.header {
    display: flex;
    justify-content: center;
    gap: 9px;
    margin-top: 10px;
    margin-bottom: 10px;
}
  
  
.text{
    color: blue;
    font-size: 24px;
    font-weight: 100px;
  }


.inputs{
  display: flex;
  padding-bottom: 20%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.input-user{
  display: flex;
}


.input-psw{
  display:flex;
}

.support-container{
  display: flex;
  flex-direction: row;
  padding-left: 200px;
  font-size: xx-small; 
}

.submit-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.submit{
  display: flex;
  flex-direction: column;
}  