
.three-column-coursedec{
    display: flex;
    height:34px;
    margin-top: 40px;
}

.column-1-coursedec {
    flex: 33%;
    margin-left: 10px;
}

span{
    margin-left: 5px; 
}
.column-2-coursedec {
    flex: 33%;
}

.column-3-coursedec{ 
    display: flex;
    justify-content: right;
    margin-right: 10px;
}

