.row-requests{
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: space-between;
}

.row-filter-req{
    display: flex;
    height: 50px;
    justify-content: center;
}

.filter-req-column-1 select{
    height: 40px;
    width: 250px;
    border-color: #ddd;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 14px;
}

.row-req-list{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.individual-card {
    width: 97%;
    margin-bottom: 10px;
}

@media (max-width: 1440px) {
    .individual-card {
        width: 95%; 
    }
}

@media (max-width: 1280px) {
    .individual-card {
        width: 95%; 
    }
}

@media (max-width: 600px) {
    .individual-card {
        width: 95%; 
    }
}