.row-dhis-title, .row-dhis-desc{
    margin-left: 10px;
}

.two-col-dhis{
    display: flex;
}

.col-dhis-1{
    display: flex;
    flex: 10%;
    justify-content: flex-start;
}

.col-dhis-2{
    display: flex;
    flex: 90%;
}

.row-table-dhis-1,.row-table-dhis-2,.row-table-dhis-3{
    justify-content: center;
    width: 96.5%;
}