.row-coursesdec-title{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-coursesdec-1,.row-coursesdec-2,.row-coursesdec-3{
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center;
}

  .notification-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
