.two-columns-dgrade{
    display: flex;
}

.column-1-dgrade{
    display: flex;
    flex:75%;    
    flex-direction: column;
}

.row-sort{
    display: flex;
    height: 50px;
    margin-left: 10px;
}

.column-2-dgrade{
    display: flex;
    flex:25%;
    margin-top: 80px;
    height:30%;
}

.row-semesters{
    margin-left: 10px;
}

.row-dgrade{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.row-dgrade span{
    display: flex;
}


.declared-sub,.passed-sub,.dpoints-sub,.ppoints-sub{
    display: flex;
    margin-bottom: 30px;
}

.sort-column-1 select{
    height: 40px;
    width: 250px;
    border-color: #ddd;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 14px;
}



