.row-books-title, .row-books-desc{
    margin-left: 10px;
}

.main-row-books{
    display: flex;
    justify-content: flex-start;
}

.main-row-books h3{
    margin-left: 30px;
}

.tabs{
    display: flex;
    margin-left: 10px;
}

.card-container {
    display: flex;
  }
