
.tabs-compilers{
    display: flex;
    margin-left: 10px;
}

.row-compilers{
    margin-left: 10px;
}

.row-compilers-grade{
    margin-left: 10px;
}

.prof-pending{
    color: orange;
}

.status-compilers{
    display: flex;
}


.status-compilers-col-1{
    flex:30;
}


.status-compilers-col-2{
    display: flex;
    flex-direction: column;
    flex:70%;
    align-items: flex-end;
    margin-right: 10px;
}


.status-compilers-col-2-row-2{
    display: flex;
    align-items: center;
}